<!--
 * @Date: 2024-01-24 00:33:23
 * @LastEditors: Night-stars-1 nujj1042633805@gmail.com
 * @LastEditTime: 2024-01-25 19:14:14
-->
<!DOCTYPE html>
<html lang="zh">
  
  <head>
    <meta charset="UTF-8">
    <title>插件商店</title>
    <link rel="stylesheet" href="../view/otherCss.css"/>
    <link rel="stylesheet" href="../view/view.css"/>
    <script src="../page/custom.js" type="module"></script>
  </head>
  
  <body class="q-theme-tokens-light">
    <div class="setting-layout">
      <div class="pluginStore tab-view" id="pluginStore">
        <section class="list-ctl">
          <div class="wrap">
            <div class="vertical-list-item">
              <input v-model="searchTerm" @input="search" class="search-input" type="text" spellcheck="false" placeholder="输入搜索词" />
            </div>
          </div>
        </section>
        <section class="plugin-list">
          <div class="wrap" v-for="(manifest, index) in plugins">
            <div class="vertical-list-item">
              <div class="info">
                <h2 class="name">{{manifest.name}}</h2>
                <p class="secondary-text description">{{manifest.description}}</p>
              </div>
              <div class="ops-btns">
                <button class="q-button q-button--small q-button--secondary" @click="openWeb(manifest.details)">详情</button>
                <button class="q-button q-button--small q-button--secondary"  @click="install(index)"
                  v-if="manifest.download" :disabled="manifest.install!=='安装'">{{manifest.install}}</button>
                <button class="q-button q-button--small q-button--secondary" @click="restart(index)"
                  v-if="manifest.restart" :disabled="manifest.restart!=='重启'">{{manifest.restart}}</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>